section.videos-section {
  padding-top: 8rem;
}

.carousel-item {
  text-align: center;
  justify-content: center;
}

.video-placeholder {
  height: 12rem;
  border-radius: 1rem;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: rgb(110, 104, 104);
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .video-placeholder {
    height: 15rem;
  }
}

@media (min-width: 992px) {
  .video-placeholder {
    height: 20rem;
  }
}
